button {
    color: white;
    margin-top: 10px;
    width: 30%;
    padding: 10px;
    font-size: 40px;
    border-radius: 5px;
    border: 1px solid #01638f;
    margin-bottom: 10px;
    background-color: #0184be;
    font-family: "Gentium Book Basic", serif;
}

.blah {
    color: rgb(5, 8, 59);
    text-decoration: none;
    font-size: 60px;
}