@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One%7CGentium+Book+Basic:400,400i');


h4 {
    font-size: 25px;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}